.pinterest_header {
  text-align: center;
  margin: 2rem 0;
}

.pinterest_logo {
  font-family: "Lobster", cursive;
}

.pinterest_footer {
  text-align: center;
  font-size: 2rem;
}

.pinterest_footer_button {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 13px;
  }
}
