.pinterest_header {
  text-align: center;
  margin: 2rem 0;
}

.pinterest_logo {
  font-family: "Lobster", cursive;
}

.pinterest_footer {
  text-align: center;
  font-size: 2rem;
}

.pinterest_footer_button {
  font-size: 0.9rem;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 13px;
  }
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

.pinterest_header_navbar {
  margin: 1rem 0;
}

.pinterest_header_nav {
  margin: 0 0.5rem;
}
